{% extends "InventoryShop/baselayout.html"%}
{% load static %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3" style="margin-top:20px;">
				<div class="card card-filter">
					<article class="card-group-item">
						<header class="card-header">
							<a class="" aria-expanded="true" href="#" data-toggle="collapse" data-target="#collapse22">
								<h6 class="title">By Category</h6>
							</a>
						</header>
						<div style="" class="filter-content collapse show" id="collapse22">
							<div class="card-body">
								<form class="pb-3">
									<div class="input-group">
										<input class="form-control" placeholder="Search" type="text">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
										</div>
									</div>
								</form>
								<ul class="list-unstyled list-lg">
									<li><a href="#">Cras justo odio <span class="float-right badge badge-light round">142</span> </a></li>
									<li><a href="#">Dapibus ac facilisis  <span class="float-right badge badge-light round">3</span>  </a></li>
									<li><a href="#">Morbi leo risus <span class="float-right badge badge-light round">32</span>  </a></li>
									<li><a href="#">Another item <span class="float-right badge badge-light round">12</span>  </a></li>
								</ul>
							</div> <!-- card-body.// -->
						</div> <!-- collapse .// -->
					</article> <!-- card-group-item.// -->
					<article class="card-group-item">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse33">
								<h6 class="title">By Price  </h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse33">
							<div class="card-body">
								<input type="range" class="custom-range" min="0" max="100" name="">
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Min</label>
										<input class="form-control" placeholder="$0" type="number">
									</div>
									<div class="form-group text-right col-md-6">
										<label>Max</label>
										<input class="form-control" placeholder="$1,0000" type="number">
									</div>
								</div> <!-- form-row.// -->
								<button class="btn btn-block btn-outline-primary">Apply</button>
							</div> <!-- card-body.// -->
						</div> <!-- collapse .// -->
					</article> <!-- card-group-item.// -->
					<article class="card-group-item">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse44">
								<h6 class="title">By Feature </h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse44">
							<div class="card-body">
								<form>
									<label class="form-check">
									<input class="form-check-input" value="" type="checkbox">
									<span class="form-check-label">
									<span class="float-right badge badge-light round">5</span>Samsung</span>
									</label> 
									<label class="form-check">
									<input class="form-check-input" value="" type="checkbox">
									<span class="form-check-label">
									<span class="float-right badge badge-light round">13</span>Mersedes Benz</span>
									</label> <!-- form-check.// -->
									<label class="form-check">
									<input class="form-check-input" value="" type="checkbox">
									<span class="form-check-label">
									<span class="float-right badge badge-light round">12</span>Nissan Altima
									</span>
									</label>  <!-- form-check.// -->
									<label class="form-check">
									<input class="form-check-input" value="" type="checkbox">
									<span class="form-check-label">
									<span class="float-right badge badge-light round">32</span>Another Brand
									</span>
									</label>  <!-- form-check.// -->
								</form>
							</div> <!-- card-body.// -->
						</div> <!-- collapse .// -->
					</article> <!-- card-group-item.// -->
				</div> <!-- card.// -->
			</div>
			<div class="col-md-9">
								<h2 class="product-rec">Are you looking for <b>this?</b></h2>
								<section class="center slider">
									{% for item in inventory %}
										<div class="col-md-4" style="padding: 0px !important;">
											<div class="card" style="margin-bottom: 30px;">
												<img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
												<div class="card-body">
													<h5 class="card-title">{{item.ProductName}}</h5>
													{% if item.Location == 'NULL' %}
														<p class="card-text" style="color:#EF3E36">
															Unavailable
														</p>
													{% else %}
														<p class="card-text" style="color:#17BEBB">
															📍 		{{item.Location}}
														</p>
													{% endif %}
													<p class="card-text"><button type="button" class="btn btn-primary btn-sm" style="margin-right: 5px">Add to cart</button><button type="button" class="btn btn-danger btn-sm">Favorite</button></p>
												</div>
											</div>
										</div>
									{% endfor  %}
								</section>
				<div class="row">
					<div class="col-md-12">
						<hr>
						<h2 class="product-rec">Products</b></h2>
						<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
							<div class="carousel-inner">
								<div class="item carousel-item active">
									<div class="row">
										{% for item in inventory %}
											<div class="col-sm-4">
												<div class="thumb-wrapper">
													<div class="img-box">
														<img src="https://dummyimage.com/600x400/000/fff" class="img-responsive img-fluid" alt="">
													</div>
													<div class="thumb-content">
														<h4>{{item.ProductName}}</h4>
														{% if item.Location == 'NULL' %}
															<p class="item-unavailable" style="color:#EF3E36">
																Unavailable
															</p>
														{% else %}
															<p class="item-available" style="color:#17BEBB">
																{{item.Location}}
															</p>
														{% endif %}
														<div class="star-rating">
															<ul class="list-inline">
															</ul>
														</div>
														<a href="#" class="btn btn-primary">Add to Cart</a>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'InventoryShop/slick/slick/slick.min.js' %}"></script>
	<script type="text/javascript">
	$(document).ready(function(){
	$('.slider').slick({
	dots: true,
	infinite: false,
	slidesToShow: 3,
	slidesToScroll: 3
	});
	});
	</script>
{% endblock content %}